[Unit]
Description=GnuPG private key agent
IgnoreOnIsolate=true

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/gnupg
ExecStart=/usr/bin/gpg-agent --daemon $GPGAGENT_PARAMS
Restart=on-abort

[Install]
WantedBy=default.target
